{% extends "users/base.html" %}
{% load static %}
{% block title %} Profile {% endblock title%}
{% block content %}
<div style="margin-top:15px ;">
    <button  onclick="history.back()" class="back"><span>&#8592;</span> &nbsp;</button>
    {% if request.user.is_authenticated %}

        <li style="float: right;"><a href="/scanner"><button  class="lr-btn">Scan Qrcode</button></a></li> 
        <li style="float: right;"><a href="/"><button class="log-btn">Home</button></a></li> 
    {% else %}
        <li style="float: right;"><a href="/"><button class="log-btn">Home</button></a></li> 
    {% endif %}
</div>
<div class="ccontainer" style="padding: 35px;">
    <form method="post">
        {% csrf_token %}
        <input  class="iinput-field" type="text" name="data" id="data" placeholder="write something or enter url">
        <br/>
        <br>
        <button class="lr-btn" style="margin-left: 13%;">Generate</button>
    </form>
    <div class="qr-img" >
        {% if img_name %}
            <img src="/media/{{ img_name }}" alt="qr code">
        {% endif %}
    </div>
</div>

<style>
     li{
        list-style-type: none;
        margin-top: -15px;
    }

  
</style>
{% endblock content %}