{% extends "users/base.html" %}
{% load static %}
{% block title %} Password Reset Done {% endblock title%}
{% block content %}
<div style="margin-top:15px ;">
    <button  onclick="history.back()" class="back"><span>&#8592;</span> &nbsp;</button>
    <li style="float: right;"><a href="/"><button class="log-btn">Home</button></a></li>
</div>
<br> <br>

<div style="text-align:center;" >
    <h2 style="margin-left: 10%;font-weight: bold; " class="set"> Password Reset Sent</h2>
    <p style="margin-left: 3%;" class="chng1">
        We've emailed you instructions for setting your password,<br> if an account exists with the email you entered. You should receive them shortly.
        <br>If you don't receive an email, please make sure you've entered the address you registered with,<br> and check your spam folder.
    </p>
    <br>

    <p style="margin-left: 3%;" class="chng1">
        If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
    </p>
</div>
<style>
    li{
        list-style-type: none;
        margin-top: -15px;
    }
    
   @media screen and (max-width: 600px) {
   
   
     div .set{
        margin-right: 15%;
        
       
    }
    div .chng1{
        margin-right: 19%;
    }
  
    
    
    div .back{
        height: 50px;
    }
   
   
  }

</style>
{% endblock content %}