{% extends "users/base.html" %}
{% load static %}
{% block title %} Password Change {% endblock title%}
{% block content %} 



<br> <br>
<div style="text-align:center;">
    <h2 style="margin-left: 10%;font-weight: bold; " class="set"> Change your Password </h2>
    <h4 style="margin-left: 10%; font-weight: bold;" class="chng">Please enter your new password</h4>
</div>
<br> <br>
<div class="ccontainer">
    <form  method="POST">
    {% csrf_token %}
        <label><b>Old Password</b></label><br />
        <input class="iinput-field" type="password" id="id_old_password" name="old_password" placeholder="  old password" required="true"/><br /> 
        
        <label><b> New Password</b></label><br />
        <input class="iinput-field" type="password" id="id_new_password1" name="new_password1" placeholder="  new password" required="true" /><br /> 
        
        <label><b> Confirm your new Password</b></label><br />
        <input class="iinput-field" type="password" id="id_new_password2" name="new_password2" placeholder="   confirm new password" required="true" /><br>

        <br/>
        <input class="submitt-button" id="submit_login" type="submit" value="Change Password"/>
        {% for field in form %}
            {% for error in field.errors %}
            <p style="color:red;">{{error}}</p>
            {% endfor %}
        {% endfor %}
    
    </form>
   
</div>

<style>
    label{
        display: block;
     
        margin-bottom: -20px;
    }
  

   @media screen and (max-width: 600px) {
    .ccontainer{
        margin-left: -0.5%;
        justify-content: center;
       
    }
   
     div .set{
        margin-right: 18%;
    }

    div .chng{
        margin-right: 19%;
    }
    .submitt-button{
        width: 100%;
    }
    .iinput-field{
        width: 100%;
        
    }
   
    div .back{
        height: 50px;

    }
   
   
   
  }
</style>
{% endblock content %}