{% extends "users/base.html" %}
{% load static %}
{% block title %} Password reset form {% endblock title%}
{% block content %} 

<div style="margin-top:15px ;">
  <button  onclick="history.back()" class="back"><span>&#8592;</span> &nbsp;</button>
  <div style="float: right;"><a href="/signin"><button class="lr-btn">Login</button></a></div>
    
</div>

<div style="text-align:center;">
    <h2 style="margin-left: 19%;font-weight: bold; " class="set">Reset Your Password</h2>
    <p style="margin-left: 13%;" class="chng1">Forgotten your password? Enter your email address below, <br>and we'll email  you instructions for setting a new one.</p>
    
</div>
<div class="ccontainer">
    <form  method="POST">
    {% csrf_token %}
    
        <label><b>Email Address</b></label><br />
        <input class="iinput-field" type="email" id="id_email" name="email" placeholder="name@example.com" required/><br />
        <br />
        <input class="submitt-button" id="submit_login" type="submit" value="Send email"/>
    </form>
</div>
<style>
    label{
        display: block;
     
        margin-bottom: -20px;
    }
   li{
       list-style-type: none;
       margin-top: -15px;
   }
   
   @media screen and (max-width: 600px) {
    .ccontainer{
        margin-left: -0.5%;
        justify-content: center;
       
    }
   
     div .set{
        margin-right: 15%;
        
       
    }
    div .chng1{
        margin-right: 19%;
    }
  
    .submitt-button{
        width: 100%;
    }
    .iinput-field{
        width: 100%;
        
    }
    
    div .back, .log-btn{
        height: 50px;

    }
    
    .log-btn{
        
        float: right;
    }
   
   
  }

</style>

{% endblock content %}