{% extends "users/base.html" %}
{% load static %}
{% block title %} Signin {% endblock title%}
{% block content %} 


{% if form.errors %}
<br> <br>
<div style="text-align:center;">
    <h2 style="margin-left: 10%;font-weight: bold; " class="set">Password Reset Confirm</h2>
    <h4 style="margin-left: 10%; font-weight: bold;" class="chng">Please enter your new password</h4>
</div>
<br> <br>
<div class="ccontainer">
    <form  method="POST">
    {% csrf_token %}
        <label><b>Password</b></label><br />
        <input class="iinput-field" type="password" id="pass1" name="pass1" placeholder=" Password" required/><br /> 
        <input type="checkbox" onclick="myFunction()"/>Show Password <br>
        <br/>
        <input class="submitt-button" id="submit_login" type="submit" value="Reset Password"/>
    </form>
    {% else %}
    <div class="alert alert-warning">
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </div>
    {% endif %}
</div>

<style>
    label{
        display: block;
     
        margin-bottom: -20px;
    }
  

   @media screen and (max-width: 600px) {
    .ccontainer{
        margin-left: -0.5%;
        justify-content: center;
       
    }
   
     div .set{
        margin-right: 18%;
    }

    div .chng{
        margin-right: 19%;
    }
    .submitt-button{
        width: 100%;
    }
    .iinput-field{
        width: 100%;
        
    }
   
    div .back{
        height: 50px;

    }
   
   
   
  }
</style>
{% endblock content %}