{% extends "users/base.html" %}
{% load static %}
{% block title %} Contact {% endblock title%}
{% block content %}
<div style="margin-top:15px ;">
    <button  onclick="history.back()" class="back"><span>&#8592;</span> &nbsp;</button>
</div>
<br> <br>

<div style="text-align:center;">
    <h2 style="margin-left: 10%;font-weight: bold; " class="set"> Password reset complete</h2>
    <p style="margin-left: 3%;" class="chng1">Your password has been set. You may go ahead and log in now</p>
    <div><a href="/signin"><button class="lr-btn">Login</button></a></div>
    <input class="submitt-button" id="submit_login" type="submit" value="Log in"/>
</div>
<style>
    
   @media screen and (max-width: 600px) {
   
   
    
   
  }

</style>