*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0 70px ;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul {
    list-style-type: none;
    overflow: hidden;
   
}
  
li {
    float: left; 
   
}
  

li a {
    display: block;
  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
  text-decoration: underline;
  color: black;
}
  
.log-btn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #163037;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-top: -5px;
}
.log-btn:hover{
    background-color:  #ccc;
}

.reg-btn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #ddd;
    background-color: black;
    text-align: center;
    cursor: pointer;
    border: none;
    margin-top: -5px;
}
.reg-btn:hover{
    opacity: 0.6;
}
.lr-btn{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #ddd;
    background-color: black;
    text-align: center;
    cursor: pointer;
    border: none;
   margin-top: -3px;
}


@media screen and (max-width: 600px) {
    li{
      float: left;
       width: 100%;
      

    }
   
}
 /* @media screen and (min-width: 600px) {
    ul li{
        display:flex;
      

    }
    /* .log-btn .reg-btn, .lr-btn{
        display: inline-block;
        width: 50%;
    }
    
} */

