{% extends "users/base.html" %}
{% load static %}
{% block title %} Profile {% endblock title%}
{% block content %}
<div style="margin-top:15px ;" class="btnline">
    <button  onclick="history.back()" class="back"><span>&#8592;</span> &nbsp;</button>
    {% if user.is_authenticated %}
    <li style="float: right;"><a href="/signout"><button class="log-btn">Logout</button></a></li>
    <li style="float: right;"><a href="/profile"><button class="lr-btn" id="probtn">Hi {{ user.username}}!</button></a></li>
   
    {% else %}
    {% endif %}
</div>
<br> <br>
<div style="text-align:center;">
    <h2 style="margin-left: 10%;font-weight: bold;" class="set">Settings</h2>
    <h4 style="margin-left: 10%; font-weight: bold;" class="chng">Change Account Email</h4>
</div>
<br> <br>
<div class="ccontainer">
    <p style="margin-left: 3%;" class="chng1">Change your account emaii address below.<br>Please confirm your new email address by <br> checking for a confirmation email sent</p>
   
   
    <br> 
    <form   method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <label><b>My new email address:</b></label><br />
        <input class="iinput-field" type="email" id="email" name="email" placeholder="{{user.email}}" required/> 
        <br />
        <br />
        <label><b>Confirm new email address:</b></label><br />
        <input class="iinput-field" type="email" id="email" name="email" placeholder="name@example.com" required/> 
        <br />
        <br />
        
       
        <button type="submit" class="lr-btn" style="margin-left: 15%;">Save Changes</button>
       
    </form>
</div>

<style>
    label{
        display: block;
     
        margin-bottom: -20px;
    }
   li{
       list-style-type: none;
       margin-top: -15px;
   }
   
   @media screen and (max-width: 600px) {
    .ccontainer{
        margin-left: -0.5%;
        justify-content: center;
       
    }
   
     div .set{
        margin-right: 15%;
        
       
    }
    div .chng{
        margin-right: 19%;
    }
  
    .submitt-button{
        width: 100%;
    }
    .iinput-field{
        width: 100%;
        
    }
    .btnline{
        display: flex;
      
    }
    div .back, .log-btn{
        height: 50px;

    }
    div #probtn{
        height: 50px;
        width:100%;
        
    }
    div #probtn, .log-btn{
        
        float: right;
    }
   
   
  }

</style>
{% endblock content %}