{% extends "users/base.html" %}
{% load static %}
{% block title %} Contact {% endblock title%}
{% block content %}
<div style="margin-top:15px ;">
    <button  onclick="history.back()" class="back"><span>&#8592;</span> &nbsp;</button>
    {% if user.is_authenticated %}
    <div style="float: right;"><a href="/profile"><button class="lr-btn">Hi {{ user.username}}!</button></a></div>
    {% else %}
    {% endif %}
</div>
<div class="ccontainer">
    <form  method="POST" >
        {% csrf_token %}
    
        {{form.as_p}}
        <label for="{{ field.name}}">{{ field.label}}</label>{{ field }}
        <input class="submitt-button no-modal" id="submit" type="submit" value="Submit"  />
    </form>
    </div>
    <!--  data-bs-toggle="modal" data-bs-target="#staticBackdrop"
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
                <div class="modal-header">
                    
                </div>
                <div class="modal-body">
                    {% if messages %}
                        {% for message in messages %}
                        <h6 class="text-center">{{message}}</h6>
                        {% endfor %}
                    {% endif %}
                   
                </div>
                <div class="modal-footer">
                    <div ><a href="/"><button class="lr-btn">Go back Home</button></a></div>
                    <div ><button class="lr-btn" data-bs-dismiss="modal">Close</button></div>
                     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
<!--                     
                </div>
            </div>
        </div>
    </div> -->

<style>
    label{
        display: block;
        font-weight: bold;
        margin-bottom: 0.6px;
    }
  
    .iinput-field{
    
        padding: 7px 20px;
        margin: -4px 0;
    }
   
  
</style>

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
{% endblock content %}