{% extends "users/base.html" %}
{% block title %} Landing{% endblock title%}
{% load static %}
{% block content %} 

<header>
    <nav>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/contact" >Contact us</a></li>
            <li><a href="/howitworks" >How it works</a></li>
            <li><a href="/faqs" >FAQ's</a></li>
            {% if user.is_authenticated %}
            <li style="float: right;"><a href="/signout"><button class="log-btn">Logout</button></a></li>
            <li style="float: right;"><a href="/profile"><button class="lr-btn">Hi {{ user.username}}!</button></a></li>
            {% else %}
            <li style="float: right;"><a href="/register"><button class="reg-btn">Register</button></a></li>
            <li style="float: right;"><a href="/signin"><button class="log-btn">Login</button></a></li>
            {% endif %}
        </ul>
    </nav>
</header>
{% endblock content %}