{% extends "users/base.html" %}
{% load static %}
{% block title %} Contact {% endblock title%}
{% block content %}
<div style="margin-top:15px ;">
    <button  onclick="history.back()" class="back"><span>&#8592;</span> &nbsp;</button>
    {% if user.is_authenticated %}
    <div style="float: right;"><a href="/profile"><button class="lr-btn">Hi {{ user.username}}!</button></a></div>
    {% else %}
    {% endif %}
</div>
<div class="ccontainer">
    <form  method="POST" >
        {% csrf_token %}
    
        {{form.as_p}}
        <label for="{{ field.name}}">{{ field.label}}</label>{{ field }}
        <input class="submitt-button no-modal" id="submit" type="submit" value="Submit"  />
    </form>
    </div>
    <style>
        label{
            display: block;
            font-weight: bold;
            margin-bottom: 0.6px;
        }
      
        .iinput-field{
        
            padding: 7px 20px;
            margin: -4px 0;
        }
       
      
    </style>
 
    {% endblock content %}