{% extends "users/base.html" %}
{% block title %} Landing{% endblock title%}
{% load static %}
{% block content %} 

<header >
    <nav>
        <ul>
            <li><a href="/" >Home</a></li>
            <li><a href="/contact" >Contact us</a></li>
            <li><a href="/howitworks" >How it works</a></li>
            <li><a href="/faqs" >FAQ's</a></li>
            {% if user.is_authenticated %}
            <li style="float: right;"><a href="/signout"><button class="log-btn">Logout</button></a></li>
            <li style="float: right;"><a href="/profile"><button class="lr-btn">Hi {{ user.username}}!</button></a></li>
            {% else %}
            <li style="float: right;"><a href="/register"><button class="reg-btn">Register</button></a></li>
            <li style="float: right;"><a href="/signin"><button class="log-btn">Login</button></a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<br>

<main class="main">
    <div class="content">
        <h1 class="h2">Get The Most Of Your Information Secured.</h1>
  
        <p class="p"> Generate,save and utilize your digital QR codes.</p>
        <br>
        <a href="/generator"><button class="lr-btn">Generate QR code</button></a>
        
    </div>
   
    <div class="content">
        <h1 class="h2">Get The Most  Out Of Your QrCode.</h1>
  
        <p class="p"> Scan,decode and utilize your digital QR codes.</p>
        <br>
        <a href="/scanner"><button class="log-btn">Scan QR code</button></a>
        
    </div>
   
</main>
<style>
    body{
        color: #163037;
    }
</style>
{% endblock content %}